<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg p-3  sticky-top">
     <div class="container  ">
        <a class="navbar-brand fw-bold d-flex align-items-center gap-2" href="{% url 'dashboard' %}">
            <i class="bi bi-mortarboard-fill text-warning fs-4"></i>
            <span>Student Management</span>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{% url 'students_list' %}" class="nav-link">Students</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'courses_list' %}" class="nav-link">Courses</a>
            </li>
                <li class="nav-item">
                <a href="{% url 'student_entroll' %}" class="nav-link">Enrollments</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Attendance
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'attendence' %}">Mark Attendance</a></li>
                    <li><a class="dropdown-item" href="{% url 'attendence_dash' %}">Dashboard</a></li>
                    <!-- <li><a class="dropdown-item" href="#">Attendance History</a></li> -->
                </ul>
            </li>
            <li class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link">Logout</a>
            </li>
        </ul>
     </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>